name: Example
on:
  push:
    branches:
      - master

permissions: {}

jobs:
  example:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - name: clone
      uses: actions/checkout@v6
      with:
        persist-credentials: false
    - uses: ./
      with:
        path: ./test/format
        formats: "JPEG, PNG"
