name: GitHub Actions
on:
  pull_request:

jobs:
  all-ok:
    runs-on: ubuntu-latest
    steps:
    - name: clone
      uses: actions/checkout@master
    - uses: ./
      with:
        path: ./test/format
        longside: 300
        formats: "JPEG, PNG"
  format-ng:
    runs-on: ubuntu-latest
    steps:
    - name: clone
      uses: actions/checkout@master
    - uses: ./
      with:
        path: ./test/format
        formats: "JPEG"
  dpi-ng:
    runs-on: ubuntu-latest
    steps:
    - name: clone
      uses: actions/checkout@master
    - uses: ./
      with:
        path: ./test
        formats: "JPEG, PNG"
        level: warning
  longside-ng:
    runs-on: ubuntu-latest
    steps:
    - name: clone
      uses: actions/checkout@master
    - uses: ./
      with:
        path: ./test/format/png
        longside: 500
        formats: "PNG"
        level: warning
  pixel-ng:
    runs-on: ubuntu-latest
    steps:
    - name: clone
      uses: actions/checkout@master
    - uses: ./
      with:
        path: ./test/format/jpeg
        longside: 300
        pixel_limit: 900000
        level: warning
